<main>
    <table class="orders-list">
        <thead>
            <tr>
                <th>Numer zlecenia</th>
                <th>Data wprowadzenia</th>
                <th>Klient</th>
                <th>Cięcie</th>
                <th>Frezowanie</th>
                <th>Oklejanie</th>
            </tr>
        </thead>
        <tbody>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
            <tr class="orders-list-row">
                <td>3432352234234</td>
                <td>20.02.2024</td>
                <td>Jan Kowalski</td>
                <td>TAK</td>
                <td>TAK</td>
                <td>TAK</td>
            </tr>
        </tbody>
    </table>
</main>