<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <title>Pogląd statusu produkcji</title>
</head>
<body>

<header>
    <h1>Status produkcji</h1>
</header>

@RenderBody()

<footer>
    2023
</footer>

</body>
</html>