<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSV - system kontroli produkcji</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
</head>
<body>
<header>
    <img src="@Url.Content("~/assets/logo.png")" class="logo" alt="system logo">
</header>
<h1 class="page-title">System kontroli produkcji</h1>

@RenderBody()

</body>
</html>