<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil - system kontroli produkcji</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <link rel="icon" href="@Url.Content("~/assets/icon.png")" type="image/icon type"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<header>
    <img src="@Url.Content("~/assets/logo.png")" class="logo" alt="system logo">
</header>
<h1 class="page-title">System kontroli produkcji</h1>

@RenderBody()

</body>
</html>