@model PSV.Models.DTOs.OrderPost;

<main>
        <h2 class="page-title">Nowe zamówienie</h2>
        <form novalidate onsubmit="" class="upload-form">
            <label for="file">Wczytaj plik zamówienia</label>
            <input type="file" id="file" name="file">
            <input class="form-submit" type="submit" value="Prześlij">
        </form>
        <form class="create-form" asp-action="Create" asp-controller="Order" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label asp-for="OrderNumber">Numer zamówienia: <span class="symbol-required">*</span></label>
                <input type="text" asp-for="OrderNumber" placeholder="">
                <span asp-validation-for="OrderNumber" class="errors-text"></span>
            </div>
            <div class="input-group-checkbox">
                <input type="checkbox" asp-for="Cut">
                <label asp-for="Cut">Cięcie</label>
                <input type="checkbox" asp-for="Milling">
                <label asp-for="Milling">Frezowanie</label>
                <input type="checkbox" asp-for="Wrapping">
                <label asp-for="Wrapping">Oklejanie</label>
            </div>
            <div class="input-group">
                <label asp-for="FormatCode">Kod formatki: <span class="symbol-required">*</span></label>
                <input type="text" asp-for="FormatCode" placeholder="">
                <span asp-validation-for="FormatCode" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label asp-for="Client">Klient: <span class="symbol-required">*</span></label>
                <select asp-for="Client">
                    @{
                        <option value="new">Nowy klient</option>
                        foreach (var client in Model.AllClients)
                        {
                            <option value="@client.Id">@client.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Client" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label asp-for="Comments">Komentarz: </label>
                <textarea asp-for="Comments"></textarea>
                <span asp-validation-for="Comments" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label asp-for="Photos">Zdjęcia: </label>
                <input type="file" asp-for="Photos" multiple="multiple">
            </div>
            <input class="form-submit" type="submit" value="Dodaj zamówienie">
        </form>
</main>