<main class="starting-page">
    <h2>Stanowisko cięcia</h2>
    <div class="search-container">
        <form class="search-form" method="get" action="@Url.Action("Find", "Cut")">
            <div class="input-group-search">
                <label for="orderNumber">Numer zamówienia: <span class="symbol-required">*</span></label>
                <input type="text" name="orderNumber" id="orderNumber" placeholder="">
                <span id="errorOrderNumber" class="errors-text"></span>
                <input class="form-submit" type="submit" value="Wyszukaj">
            </div>
        </form>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Cut")">Lista zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("RedirectToRelease", "Cut")">Wydawanie zamówień</a>
    </div>
</main>

<script>
    window.onload = function() {
        document.getElementById('orderNumber').focus();
    };
</script>