<main class="starting-page">
    <h2>Cięcie</h2>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("Search", "Cut")">Wyszukaj</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Cut")">Lista zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="logout-button" href="">Wyloguj się</a>
    </div>
</main>