@model PSV.Models.DTOs.OrderControl

<main>
    <h2 class="page-title">Stanowisko cięcia - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <h2>Wybrane zamówienie nie obejmuje cięcia</h2>
        <div class="start-end">
            <a class="control-button-start" href="@Url.Action("Menu", "Cut")">Wyszukaj zamówienie</a>
            <a class="control-button-end" href="@Url.Action("All", "Cut")">Lista zamówień</a>
        </div>
    </div>
</main>