<main>
    <h2 class="page-title">Zlecenie nr. 2432352454</h2>
    <div class="control-buttons">
        <div class="start-end">
            <a class="control-button">Początek</a>
            <a class="control-button">Koniec</a>
        </div>
        <div class="comments-button">
            <a class="comment-button">Komentarz</a>
        </div>
    </div>
</main>