<main class="starting-page">
    <h2>Stanowisko oklejania</h2>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("Search", "Wrapping")">Wyszukaj</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Wrapping")">Lista zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="logout-button" href="">Wyloguj się</a>
    </div>
</main>