@model PSV.Models.DTOs.OrderControl

<main>
    <h2 class="page-title">Stanowisko oklejania - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <h2>Wybrane zamówienie nie obejmuje oklejania</h2>
        <div class="not-present-decision">
            <a class="control-button-start" href="@Url.Action("Menu", "Wrapping")">Wyszukaj zamówienie</a>
            <a class="control-button-end" href="@Url.Action("All", "Wrapping")">Lista zamówień</a>
        </div>
    </div>
</main>