<main class="starting-page">
    <h2>Zamówienia</h2>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("New", "Order")">Dodaj zamówienie</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Order")">Lista zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="logout-button" href="">Wyloguj się</a>
    </div>
</main>