<main>
    <a class="action-button" href="@Url.Action("Menu", "Cut")">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h1>Brak zamówień o podanym numerze</h1>
</main>